{% extends "dist/govuk/template.njk" %}
{% from "dist/govuk/components/header/macro.njk" import govukHeader %}
{% from "dist/govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "../../templates/components/timeout-warning/macro.njk" import govukTimeoutWarning %}

{% set urlPrefix = "<%= htmlWebpackPlugin.options.metadata.urlPrefix %>" %}
{% set assetPath = urlPrefix + "/assets" %}
{% set timeoutPath = urlPrefix + "/session-timeout" %}
{% set siteTitle = "Check if you can apply for a Farming Transformation Fund Improving Farm Productivity Grant Round 2 – GOV.UK" %}

{% block pageTitle %}
  {{ siteTitle }}
{% endblock %}

{% block head %}
  <meta name="referrer" content="no-referrer">
  <meta name="robots" content="noindex, nofollow">
    <%= htmlWebpackPlugin.tags.headTags %>
    {% if cookiesPolicy.analytics %}
      {% include "tag-manager/head-content.njk" %}
    {% endif %}
  {% endblock %}

  {% block header %}
    {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: "Check if you can apply for a Farming Transformation Fund Improving Farm Productivity Grant Round 2",
    serviceUrl: urlPrefix + "/start",
    attributes: {title: "Back to start page"}
  }) }}
    <div class="govuk-grid-row govuk-width-container">
      {{ govukPhaseBanner({
      tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="'+ surveyLink +'" rel="noopener noreferrer" target="_blank">feedback</a> will help us to improve it.'
    }) }}
    </div>

    {% if showTimeout %}  
    {{govukTimeoutWarning({
      "modalIdleTime": sessionTimeoutInMin,
      "modalVisibleTime": 5,
      "redirectUrl":timeoutPath
    })}}
  {% endif %}
{% endblock %}

  {% block bodyStart %}
    {% if not cookiesPolicy.confirmed %}
      {% include "cookies/cookie-banner.njk" %}
    {% endif %}

    {% if cookiesPolicy.analytics %}
      {% include "tag-manager/body-content.njk" %}
    {% endif %}
  {% endblock %}

  {% block footer %}
    {{ govukFooter({
      meta: {
      items: [
          {
            href: "<%= htmlWebpackPlugin.options.metadata.urlPrefix %>/accessibility",
            text: "Accessibility"
          },
          {
            href: "<%= htmlWebpackPlugin.options.metadata.urlPrefix %>/cookies",
            text: "Cookies"
          },
          {
            href: surveyLink,
            text: "Feedback",
            attributes: { target: "_blank", rel:"noopener noreferrer" }
          },
          {
            href: "https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter",
            text: "Privacy",
            attributes: { target: "_blank", rel:"noopener noreferrer" }

          }
        ]}
    }) }}
  {% endblock %}
  {% block bodyEnd %}
<% htmlWebpackPlugin.files.js.forEach(file => { %>
  <script src="<%= file.replace('../dist/', '/static/') %>"></script>
<% }) %>  {% endblock %}