{% extends '.layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block pageTitle %}
  {{ siteTitle }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
      <h1 class="govuk-heading-l">Check if you can apply for a Farming Transformation Fund Improving Farm Productivity Grant</h1>
      <p>Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>check if you can apply for a grant for your project (takes about 5 minutes)</li>
        <li>estimate how much grant funding you could get (takes about 15 minutes if you have all the project details)</li>
      </ul>
      <h2 class="govuk-heading-m">Who can apply</h2>
      <span>You can apply if you:</span>
      <ul>
        <li>you are a farmer or agricultural contractor</li>
        <li>your business is registered in England or you will do the grant-funded work in England</li>
        <li>estimated the project covers are over £62,500</li>
      </ul>
      <p>Agricultural contractors can only use the grant for buying robotic and automatic technology.</p>
      <span>You can apply for up to:</span>
      <ul>
        <li>40% of estimated costs of robotic and automatic technology</li>
        <li>25% of estimated costs to buy and install a solar PV system</li>
      </ul>
      <p>For robotic and automatic technology the maximum grant you can claim is £500,000. The minimum grant is £25,000.</p>
      <p>For a solar PV system the maximum grant you can claim is £100,000. The minimum grant is £15,000.</p>
      <p>If you want to apply for both robotic technology and solar PV system grant funding, you must submit 2 separate applications. The maximum grant amount for both projects together is £500,000.</p>
      {{
        govukInsetText({
          text: 'If your project is eligible, you will be able to submit your online application to the Rural Payments Agency (RPA).'
        })
      }}
      {{ govukButton({
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          href: button.nextLink,
          isStartButton: true,
          text: button.text
        })
      }}
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>To use the checker, you need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>information about your business (for example, number of employees, turnover)</li>
        <li>information about the project (for example, the impact the project will have)</li>
        <li>a list of the items you’d like to buy for the project</li>
        <li>an estimate of the total costs of the items</li>
      </ul>
      <p>If you do not enter any information for more than 20 minutes, your application will time out and you will have to start again.</p>
      <h2 class="govuk-heading-m">Problems using the online service</h2>
      <span>If you have any problems using the online service, call the RPA and follow the options for the Farming Transformation Fund scheme.</span><br/><br/>
      <h3 class="govuk-heading-s">Telephone</h3>
      <p>Telephone: 0300 0200 301</p>
      <span>Monday to Friday, 9am to 5pm (except public holidays) </span><br/>
      <a class="govuk-link" target="_blank" href="https://www.gov.uk/call-charges" rel="noopener noreferrer">Find out about call charges</a><br/><br/>
      <h3 class="govuk-heading-s">Email</h3>
      <p>
        <a class="govuk-link" title="Send email to RPA" href="mailto:FTF@rpa.gov.uk">FTF@rpa.gov.uk</a>
      </p>
    </div>
  </div>
{% endblock %}