{% extends '.layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./components/macro.njk" import crumbToken %}

{% block pageTitle %}
  {{siteTitle}}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink,
        attributes: {id: 'linkBack'}
    }) 
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ crumbToken(crumb)}}
      <h1 class="govuk-heading-l">{{mayBeEligible.messageHeader}}</h1>
      <p class="govuk-body">{{ mayBeEligible.messageContent | safe}}</p>
      {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-5",
          attributes: {id: "btnContinue"},
          href: nextLink
        }) }}
    </div>
  </div>
{% endblock %}