{% extends '.layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
{{siteTitle}} - You cannot apply for grant
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: url,
  attributes: {id: 'linkBack'}
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot apply for a grant from this scheme</h1>
      <p class="govuk-body">
        {{ messageContent | safe}}
      </p>

      {% if ineligibleContent.insertText %} 
        {{ govukInsetText(ineligibleContent.insertText) }}
      {% endif %}

      {% if ineligibleContent.details %} 
        {{ govukDetails(ineligibleContent.details) }}
      {% endif %}

      {% if ineligibleContent.warning %} 
        {{ govukWarningText(ineligibleContent.warning) }}
      {% endif %}

      {% if ineligibleContent.messageLink %}
        <p class="govuk-body"><a href="{{ineligibleContent.messageLink.url}}" class="govuk-link">{{ineligibleContent.messageLink.title}}</a></p>
      {% endif %}
      
    </div>
  </div>
{% endblock %}