{% extends '.layout.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "./components/macro.njk" import crumbToken, sideBar %}
{% from "./components/macro.njk" import crumbToken %}

{% block pageTitle %}
  {{siteTitle}} - {{title}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">

      <form method="POST" action="{{url}}" novalidate="novalidate">      
        {{ crumbToken(crumb)}}
          
        {%if type ==='single-answer' %}
          {{ govukRadios(items) }}
        {%endif%}

        {%if type ==='multi-answer' %}
          {{ govukCheckboxes(items) }}
        {%endif%}

        {%if type ==='input' %}
        {{ govukInput(items) }}
        {%endif%}

        <div class="govuk-!-padding-top-5">
        {%if backLink !== 'slurry-currently-treated' %}
        {{ govukButton({
          text: "Continue"
        }) }}
        {% else %}
        {{ govukButton({
          text: "Getyourscore"
        }) }}
        {% endif %}
        </div>
      </form>
    </div>
    {%if sideBarText %}
      {{ sideBar(sideBarText) }}
    {%endif%}
  </div>
{% endblock %}