{% extends '.layout.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "./components/macro.njk" import crumbToken %}

{% block pageTitle %}
  {{siteTitle}} - {{title}}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{url}}" novalidate="novalidate">
        {%if type ==='single-answer' %}
            {{ govukRadios(items) }}
        {%endif%}
        {%if type ==='input' %}
           {{ govukInput(items) }}
        {%endif%}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}