{% extends '.layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./components/macro.njk" import crumbToken, multiSideBar, conditionalButtons %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% block pageTitle %}
    Check your details - {{siteTitle}}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: backUrl,
	attributes: {id: 'linkBack'}
}) }}
{% endblock %}

{% block content %}
<div class="govuk-body">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your project technology</h1>
        <span class="govuk-hint">You can add or remove technology you will be using on your project</span>
        <br/><br/>
        {% if projectItemsList %}
            <table class="govuk-table govuk-body govuk-!-font-size-16">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Technology</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Type</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Criteria</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Remove</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% set counter = 0 %}

                    {% for item in projectItemsList %}
                        <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            {{ item.item }}
                        </th>
                        <td class="govuk-table__cell">
                            {{ item.type }}
                        </td>
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                            {% for listItem in item.criteria %}
                                <li>{{ listItem }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td class="govuk-table__cell">
                            <form action="remove-item" method="POST">
                                {{ crumbToken(crumb)}}
                                <input type="hidden" name="item" value="{{item.item}}" />
                                <input type="hidden" name="index" value="{{counter}}" />
                                <a href="#" onclick="this.parentNode.submit()" class="govuk-link" title="Remove {{item.item}}">Remove <span class="govuk-visually-hidden">{{item.item}}</span></a></a>
                            </form>
                        </td>
                        </tr>
                        {% set counter = counter +1 %}
                        {% endfor %}
                </tbody>
            </table>
                {% endif %}
    <form method="POST" action="{{ formActionPage }}" autocomplete="off" novalidate>
        {{ crumbToken(crumb)}}
        {{ conditionalButtons(showButton, 'Continue', 'Add another technology') }}
    </form>
    </div>
    {%if sideBarText %}
        {{ multiSideBar(sideBarText) }}
    {%endif%}
    </div>
</div>
{% endblock %}